#container-formulario-emprestimo {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin-top: 50px;
    
    form {
        margin: center;
        width: 55%;
        display: flex;
        flex-flow: row wrap;
        

        input, textarea {
            background-color: #F3F3F3;
            border: 1px solid #C1C1C1;
            padding: 8px;
            margin-right: 7px;
            margin-bottom: 7px;
        }

        
        .dois-por-linha {
            width: 46.34%;
            padding: 11px;
        }

        .tres-por-linha {
            width: 24.2%;
            padding: 11px;
        }

        textarea {
            width: 96.20%;
            font-family: sans-serif;
        }

        .input-data {
            font-family: sans-serif;
        }

        input[type="date"]:focus {
            padding: 8px 11px;
            color: #757575;
        }
        
        .botao-confirmar {
            background-color: #2C60AD;
            color: white;
            font-size: 12px;
            font-weight: 140;
            padding: 12px 30px 12px 30px;
            border-radius: 5px;
        }

        .botao-pesquisar-livro {
            background-color: white;
            color: #2C60AD;
            font-size: 12px;
            font-weight: bold;
            height: 40px;
            padding: 0px 30px 0px 30px;
            border-radius: 5px;
            border: 2px solid #2C60AD;
        }

        .botao-pesquisar-livro:hover {
            cursor: pointer;
            background-color: #e4e4e4;
        }

        .botao-confirmar:hover {
            cursor: pointer;
            background-color: #17325c;
        }

        @media screen and (max-width: 1632px){
            .tres-por-linha {
                width: 47%;
            }
            .input-data {
                width: 96.90%;
            }
            textarea {
                width: 96.90%;
            }
        }

        @media screen and (max-width: 1514px){
            .tres-por-linha {
                width: 100%;
            }
            .dois-por-linha {
                width: 100%;
            }
    
        }
    }
}